@model SHOP.Model.User

    <script type="text/javascript">

        window.fbAsyncInit = function () {
            FB.init({
                appId: '281965922891178',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v8.0'
            });

            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    document.querySelector('#authBtn').innerText  = "Facebook으로 로그인하기";

                } else {
                    document.querySelector('#authBtn').innerText = "Facebook으로 가입 후 로그인하기";
                }
            })

        };

        var loginCheck = function (val) {
            if (val == 'Facebook으로 로그인하기') {
                FB.login(function (response) {
                    //location.reload();
                    if (response.status === 'connected') {
                        document.querySelector('#authBtn').innerText = "Logout";

                        FB.api('/me', { fields: 'email' }, function (response) {
                            var dataJSON = { "email": response.email };
                            $.ajax({
                               type: "POST",
                               url: "@Url.Action("OutLogin", "Login")",
                               data: JSON.stringify(dataJSON),
                               contentType: "application/json; charset=utf-8",
                               dataType: "json",
                               success: function (data) {
                                   window.history.back();
                               },
                               error: function () {
                               }
                           });
                          }
                        );
                    } else {
                        document.querySelector('#authBtn').innerText = "Login";
                    }
                }, { scope: 'public_profile,email' });

            } else {
                FB.logout(function (response) {
                    location.reload();
                });
            }
        }
    </script>

    <text id="facebook"></text>
    <section id="form">
        <!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form">
                        <!--login form-->
                        <h2>Login to your account</h2>
                        <form method="post" asp-controller="Login" asp-action="Login">
                            @Html.ValidationMessage("LoginError", new { @style = "color:red" })
                            <input type="email" placeholder="E-mail" asp-for="UserID" />
                            <input type="password" placeholder="Password" asp-for="Password" />
                            <span>
                                <input type="checkbox" class="checkbox" asp-for="KeepLogin">
                                Keep me signed in
                            </span>
                            <button type="submit" class="btn btn-default">Login</button>
                        </form>
                    </div><!--/login form-->
                    @*<div class="form-group" style="margin-top:5px">
                            <div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="true" data-use-continue-as="true" data-width=""></div>
                        </div>*@
                    <div class="form-group">
                        <button class="btn btn-primary" id="authBtn" onclick="loginCheck(this.innerText)">FaceBook으로 로그인</button>
                    </div>
                </div>
                <div class="col-sm-1" id="test">
                    <h2 class="or">OR</h2>
                </div>
                <div class="col-sm-4">
                    <div class="signup-form">
                        <!--sign up form-->
                        <h2>New User Signup!</h2>
                        <form method="post" asp-controller="Login" asp-action="Resister">
                            <input type="text" placeholder="Name" asp-for="Name" />
                            <input type="email" placeholder="Email Address" asp-for="UserID" />
                            <input id="password1" type="password" placeholder="Password" asp-for="Password" />
                            <input id="password2" type="password" placeholder="Password" onfocusout="chkPW()" />
                            <button type="submit" class="btn btn-default">Signup</button>
                        </form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </div>
    </section><!--/form-->


    <script type="text/javascript">
        function chkPW() {
            var pass1 = document.querySelector("#password1").value;
            var pass2 = document.querySelector("#password2").value;

            if (pass1 != pass2) {
                alert("동일한 비밀번호를 입력해주세요");
                pass2.value = "";
                pass2.focus();
            }
        }
    </script>