
@{
    var controller = ViewContext.RouteData.Values["Controller"];
    var action = ViewContext.RouteData.Values["Action"];
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info" id="part">
             @await Html.PartialAsync("_CartView", ViewData["userNo"])
        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>What would you like to do next?</h3>
            <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="chose_area">
                    <ul class="user_option">
                        <li>
                            <input type="checkbox">
                            <label>Use Coupon Code</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Use Gift Voucher</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Estimate Shipping & Taxes</label>
                        </li>
                    </ul>
                    <ul class="user_info">
                        <li class="single_field">
                            <label>Country:</label>
                            <select>
                                <option>United States</option>
                                <option>Bangladesh</option>
                                <option>UK</option>
                                <option>India</option>
                                <option>Pakistan</option>
                                <option>Ucrane</option>
                                <option>Canada</option>
                                <option>Dubai</option>
                            </select>

                        </li>
                        <li class="single_field">
                            <label>Region / State:</label>
                            <select>
                                <option>Select</option>
                                <option>Dhaka</option>
                                <option>London</option>
                                <option>Dillih</option>
                                <option>Lahore</option>
                                <option>Alaska</option>
                                <option>Canada</option>
                                <option>Dubai</option>
                            </select>

                        </li>
                        <li class="single_field zip-field">
                            <label>Zip Code:</label>
                            <input type="text">
                        </li>
                    </ul>
                    <a class="btn btn-default update" href="#">Get Quotes</a>
                    <a class="btn btn-default check_out" href="#">Continue</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Cart Sub Total <span id="cartsubtotal"></span></li>
                        <li>Shipping Cost <span>Free</span></li>
                        <li>Total <span id="total">$61</span></li>
                    </ul>
                    <a class="btn btn-default check_out" href="~/Check/Check">Check Out</a>
                </div>
            </div>
        </div>
    </div>
</section><!--/#do_action-->

@if (@Model != null)
{
    @foreach (var rows in Model)
    {
        var fields = rows as IDictionary<string, object>;

<script>
     $('#@fields["Code"]up').click(function () {
         var quantity = $('#@fields["Code"]input').val();
         quantity = (quantity)*1 + 1;
         $('#@fields["Code"]input').val(quantity);

         setPrice(@fields["Code"]);
     });

     $('#@fields["Code"]down').click(function () {
         var quantity = $('#@fields["Code"]input').val();
         quantity = (quantity)*1 - 1;
         $('#@fields["Code"]input').val(quantity);
     });
</script>

    }
}



<script>
    $('.cart_delete').click(function () {
        var id = $(this).attr('id').split("-");

        var jsonInput = {

            UserNo: @ViewBag.UserNo * 1,
            Code: id[0] *1

        };

        alert(JSON.stringify(jsonInput));

        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteToCart", "Cart")",
            data: JSON.stringify(jsonInput) ,
            contentType: "application/json;",
            dataType: "html",
            success: function (response) {
                @*window.location.href = "@Url.Action("Cart", "Cart")";*@
                //해당 요소만 변경 되게 partialview로 변경
                $('#part').html(response);

            },
            error: function () {
                alert("Error");
            }
        });

    });

    function setPrice(code) {

        var totalprice = $('#' + code + 'input').val() * $('#' + code + 'price').text() * 1;

        $('#' + code + 'totalprice').text(totalprice);

        setCartSubPrice();
    }

    setCartSubPrice();

    function setCartSubPrice() {

        var price = 0;
        var nodes = document.querySelector("tbody");

        for (var i = 0; i < nodes.childElementCount; i++) {
            price = price + $('#' + nodes.children[0].id + 'totalprice').text() * 1;
        }

        $('#cartsubtotal').text(price);
        $('#total').text(price);

    }


</script>




