<!DOCTYPE html>
<html>
<head>
    <title>Facebook Login JavaScript Example</title>
    <meta charset="UTF-8">
</head>
<body>
    <script>

        //fb.login으로 대체... 
        //function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
        //    console.log('statusChangeCallback');
        //    console.log(response);                   // The current login status of the person.
        //    if (response.status === 'connected') {   // Logged into your webpage and Facebook.
        //        console.log('statusChangeCallback');
        //        testAPI();
        //        alert(document.getElementById('status').innerHTML);//콜백
        //    } else {                                 // Not logged into your webpage or we are unable to tell.
        //        document.getElementById('status').innerHTML = 'Please log ' +
        //            'into this webpage.';
        //    }
        //}


        function checkLoginState() {               // Called when a person is finished with the Login Button.
            FB.getLoginStatus(function (response) {   // See the onlogin handler
  
                //statusChangeCallback(response);
            });
        }


        window.fbAsyncInit = function () {
            FB.init({
                appId: '281965922891178',
                cookie: true,                     // Enable cookies to allow the server to access the session.
                xfbml: true,                     // Parse social plugins on this webpage.
                version: 'v8.0'           // Use this Graph API version for this call.
            });


            FB.getLoginStatus(function (response) {   // Called after the JS SDK has been initialized.
                //statusChangeCallback(response);        // Returns the login status.
            });
        };

        var test = function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.

                console.log('testApi실행');
                FB.api('/me', { fields: 'email' , 'name'}, function (response) {
                    console.log(response);
                    console.log('Successful login for: ' + response.name);
                    document.getElementById('status').innerHTML =
                        'Thanks for logging in, ' + response.email + '!';
     
                });
          
            }
 

        function login() {

            FB.login(function (response) {
                if (response.status === 'connected') {
                    // Logged into your webpage and Facebook.
                    alert(1);
                    test();

                } else {
                    // The person is not logged into your webpage or we are unable to tell.
                }
            });
        }
    </script>


    <!-- The JS SDK Login Button -->

    <button onclick="login()">facebook으로 로그인하기</button>
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button>

    <div id="status">
    </div>

    <!-- Load the JS SDK asynchronously -->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
</body>
</html>